$is-desktop: 1000px;
$is-mobile: 999.99px;

.cc-arrow-down {
  display: block;
  width: 2.250em;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;

  &__icon {
    width: 2.125em;
    height: 0.688em;

    @media(min-width: $is-desktop) {
      width: 34px;
      height: 11px;
    }
  }
}
